@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Your Projects :</h3>



    <form asp-controller="WorkItem" asp-action="Details" method="get">

        <input type="hidden" id="id" name="id" value="" />

        <input type="submit" value="Press me!" class="btn btn-primary" />

    </form>


</div>
