@model AddressViewModel

<div style="border: 1px dashed red; margin: 5px; padding: 10px">
	<strong>Address Details (partial view)</strong>

	<p>Lin1: @Model.Line1</p>
	<p>Line2: @Model.Line2</p>
	<p>Line3: @Model.Line3</p>
</div>