body {
    padding-bottom: 20px;
    padding-top: 50px;
}

input, select, textarea {
    max-width: 280px;
}

thead {
    text-align: right;
}

.body-content {
    padding-left: 0;
    padding-right: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column  
*/

.categor {
    margin-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

.my-table div {
    height: 2.5em;
    padding-top: .5em;
    text-align: center;
}

.table-th div {
    background-color: aliceblue;
    font-weight: 700;
    padding-top: .5em;
    text-align: right;
}

    .table-th div:nth-child(1) {
        color: cadetblue;
    }

    .table-th div:nth-child(2) {
        color: limegreen;
    }

    .table-th div:nth-child(3) {
        color: blue;
    }

#add-button {
    color: silver;
}

#by-days {
    display: block;
    float: right;
    margin: 1px 0 1px 25px;
}
