body {
	padding-top: 50px;
	padding-bottom: 20px;
}

input,
select,
textarea {
	max-width: 280px;
}

thead {
	background-color: aliceblue;
	color: cadetblue;
	text-align: right;
}

.body-content {
	padding-left: 0;
	padding-right: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column  
*/
.dl-horizontal dt {
	white-space: normal;
}

#add-button {
	color: silver;
}

#days-selector {
	display: block;
	float: right;
	margin: 1px 0 1px 25px;
}

#sum-curr {
	color: blue;
	padding: 0 5px;
}

#sum-mono {
	color: black;
	padding: 0 5px;
}

#sum-prv {
	color: limegreen;
	padding: 0 5px;
}
