<h3>Hello App Component!</h3>

<button (click)='onAddOneItem()'>Add One Item</button>

<hr />

<div>
    <div *ngFor="let item of items">

        <div class="row">
            <div class="col-xs-12">

                <div class="input-group">


                    <app-one-item></app-one-item>


                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" (click)="onRemoveItem()">Remove me.</button>
                    </div>
                </div>

            </div>
        </div>


        <br>
    </div>
</div>